<!-- <router-outlet></router-outlet> -->
<section class="flex-col jc-space sidebar wp-268 h-vh-100 text-center">
  <p class=" fs-32 fw-6 t-w-color mt-60">Qwick</p>
  <ul class="list-none flex-col fs-14 t-w-color max-wp-220 ml-20">
    @for (menu of menushki; track menu) {
      <li class="flex ai-center gap-10 menu-hover">
        <app-icon class="max-wp-24" [iconName]="menu.img"></app-icon>
        {{ menu.name }}
      </li>
    }
  </ul>
  <div class="flex-col gap-10 fs-13 t-w-color">
    <p>Политика конфиденциальности</p>
    <p>Все права защищены</p>
  </div>
</section>
