.br-reg {
  width: 360px;
  font-size: 14px;
  padding: 18px 0 18px 16px;
  border: 1px solid #e6e6e6;
  background: #f5f7fb;
  border-radius: 6px;
  color: #4a4a4a;
  &::placeholder {
    color: #a9abba;
  }
}

label {
  flex-direction: column;
  color: #a9abba;
  padding: 0 0 8px 16px;
  font-size: 14px;
}

.a-password {
  padding: 20px 0 12px 230px;
}

.in-focus:focus {
  outline: none;
  box-shadow: 0 0 1px 1px #4f8be4;
}

.in-focus:focus + label {
  color: #4f8be4;
}

.floating {
  position: absolute;
  pointer-events: none;
  left: 0px;
  top: -25px;
}

.float-containter {
  position: relative;
}

.link-log {
  text-decoration: none;
  color: #4f8be4;
}

.btn-log {
  width: 360px;
  font-size: 14px;
  padding: 10px 162px;
  border: none;
  border-radius: 6px;
  background-color: #4f8be4;
  color: #fff;
  margin-bottom: 20px;
}

.hr {
  border: none;
  border-top: 2px solid rgb(241, 241, 241); /* Линия теперь будет красного цвета */
}
