.bg-sidebar {
  background-color: #3a78f2;
  border: none;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

.p-logo {
  font-size: 30px;
  font-weight: 600;
  padding: 50px 84px;
  color: #fff;
}

.li {
  font-size: 17px;
  padding: 0 50px;
  color: #fff;
}
