$blue: #4F8BE4;
$blue-2: #007AFF;
$blue-3: #3A78F2;
$light-blue: #F5F7FB;
$light-blue-2: #DFEBF9;
$light-blue-3: #B6D3FF;
$gray: #A9ABBA;
$black-2: #4D4D4D;
$black: #000;
$white: #fff;
$green: #25C48C;
$purple: #6C5EC2;
$yellow: #EDDD87;
$red: #ED9C87
