<section class="jc-center ai-center flex h-vh-80">
  <div>
    <p class="bl-color fs-48 t-w flex mb-50 jc-center">Qwick</p>
    <form class="flex-col mb-16">
      <div class="float-containter">
        <input
          type="text"
          name="log"
          placeholder="Email"
          class="br-reg in-focus"
        />
        <label for="log" class="floating">Логин</label>
      </div>
    </form>
    <form class="flex-col mt-50">
      <div class="float-containter">
        <input
          type="text"
          name="ps"
          placeholder="Enter password"
          class="br-reg in-focus"
        />
        <label for="ps" class="floating">Password</label>
      </div>
      <button class="btn-reg mt-24">Зарегистрироваться</button>
      <hr class="hr" />
    </form>
    <div class="flex jc-center ai-center gap-10 mt-14">
      <p>У вас есть учетная запись?</p>
      <a routerLink="/auth/login" class="link-reg">Войти</a>
    </div>
  </div>
</section>
